<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/mini.css" />
    <script src="/static/js/script.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bounding">


<style>
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  background: #8f7a66;
  min-height: 100%;
}

.bounding {
  height: 1080px;
  width:  1920px;
}

.img {
  padding: 1rem;

  background-image: url(/static/img/talks/{{ .TalkImg }});
  background-size: cover;
  background-position: center;

  mask-image: linear-gradient(to top, transparent 10%, black);
}

.logo {
  width: 353px;
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 0;

  background-image: url(/static/img/{{ .ConfTag }}/logo_1080p.png);
  background-size: cover;
  background-position: center;
}

.captionbox {
  position: absolute;
  bottom: 64px;
  left: 64px;
  right: 64px;
}

.speaker {
  font-size: 10rem;
  line-height: 10rem;
}

.talk {
  font-size: 4rem;
  line-height: 4rem;
  margin-right: 360px;
}

.social {
  font-size: 2rem;
}
</style>
  <!-- option 1 -->
<section class="bounding relative">
    <div class="relative overflow-hidden bg-gray-900 shadow-xl bounding img"></div>
    <div class="captionbox">
        <figure>
          <blockquote class="speaker text-lg font-semibold text-white sm:text-xl/8 mb-4">
            <p>{{ .Name }}</p>
          </blockquote>
          <figcaption class="text-base text-white"> 
            <div class="talk font-semibold">{{ .TalkTitle }}</div>
	    {{ if .Twitter }}
            <div class="social mt-8">@{{ .Twitter }}</div>
	    {{ end }}
          </figcaption>
        </figure>
	<div class="logo"></div>
  </div>
</section>
  </body>
</html>
