<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/mini.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bounding">

<style>
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  background: #1a1a2e;
  min-height: 100%;
}

.bounding {
  height: 1080px;
  width: 1080px;
}

.img {
  background-image: url({{ .BackgroundImg }});
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to top, transparent 10%, black);
}

.logo {
  width: 200px;
  height: 100px;

  background-image: url(/static/img/{{ .ConfTag }}/logo_insta.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.sponsor-logo {
  max-width: 80%;
  height: 65%;
  object-fit: contain;
}

.sponsor-logo-small {
  max-width: 60%;
  height: 40%;
  object-fit: contain;
}

.level {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sponsor-name {
  font-size: 4rem;
  line-height: 4rem;
}
</style>
<section class="bounding relative">
    <div class="absolute inset-0 bounding img"></div>
    <div class="bounding flex flex-col items-center justify-center relative">
        <div class="level font-semibold text-white mb-8">{{ .SponsorLevel }}</div>
        <img {{ safesrc .SponsorLogo }} alt="{{ .SponsorName }}" class="{{ if or (eq .SponsorLevel "Title") (eq .SponsorLevel "Headline") }}sponsor-logo{{ else }}sponsor-logo-small{{ end }}" />
    </div>
    <div style="position: absolute; bottom: 40px; left: 56px; right: 40px; display: flex; align-items: flex-start; justify-content: space-between;">
        <div style="text-align: left;">
            {{ if .Twitter }}<div class="text-white" style="font-size: 2rem; letter-spacing: 0.05em;">@{{ .Twitter }}</div>{{ end }}
            {{ if .Website }}<div class="text-gray-300" style="font-size: 1.75rem; letter-spacing: 0.05em;">{{ .Website }}</div>{{ end }}
        </div>
        <div class="logo"></div>
    </div>
</section>
  </body>
</html>
