<!DOCTYPE html>
<html>
  <head>
    <title>bitcoin++</title>
    {{ block "header" . }} {{ end }}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  </head>
  <body>
    {{ block "mainnav" . }} {{ end }}
    <!-- no top banner
    <section id="top_banner">
      <div class="bg-orange-300">
        <div class="mx-auto max-w-7xl mt-8 px-6 py-8 lg:flex lg:items-center lg:justify-between lg:px-8">
          <p class="max-w-2xl text-lg font-semibold tracking-tight text-gray-900">Join <span class="font-bitcoin">bitcoin++</span> to compete in the Bitcoin Games at Vegas 2025!</p>
          <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
            <a href="https://btcpp.dev/vegas25" class="text-sm/6 font-semibold text-orange-900" target="_blank">Register now<span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </section>
    -->
    <section id="confs">
      <div class="bg-white py-8 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-0">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Discover the cutting edge of bitcoin</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Upcoming Events</p>
          </div>
          <!-- begins -->
	  {{ range .Confs }}
	    {{ if .Active }}
	      {{ block "front_page_conf" . }} {{ end }}
	    {{ end }}
	  {{ end }}
          <!-- ends -->
        </div>
      </div>
    </section>
    {{ block "mailing" . }} {{ end }}
    <section id="sponsors">
      <div class="bg-white py-8">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto grid max-w-lg grid-cols-1 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-1 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-1">
            <a href="https://www.nydig.com/" target="_blank" class="p-4 sm:p-12"
             style="grid-column: span 2">
              <img class="max-h-36 w-full object-contain object-center" src="/static/img/sponsors/nydig_dark.svg" alt="NYDIG" width="150" height="auto">
            </a>
            <a href="https://hrf.org" class="col-span-1 max-h-24 w-full lg:col-span-1" target="_blank" >
              <img class="max-h-24 w-full object-contain" src="/static/img/hrf.svg" alt="Human Rights Foundation" width="158" height="48">
            </a>
          </div>
          <div class="mt-16 flex justify-center">
            <p class="relative rounded-full bg-gray-50 px-4 py-1.5 text-sm/6 text-gray-600 ring-1 ring-inset ring-gray-900/5">
              <span class="hidden md:inline">Our sponsors are bringing the frontier of bitcoin within reach.</span>
              <a href="/sponsor" class="font-semibold text-gray-800"><span class="absolute inset-0" aria-hidden="true"></span>Join them<span aria-hidden="true">&rarr;</span></a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="about">
    {{ block "about" . }} {{ end }}
    </section>
    {{ block "footer" . }} {{ end }}
  </body>
</html>
