<!DOCTYPE html>
<html>
  <head>
    <title>talk at bitcoin++</title>
    {{ block "header" . }} {{ end }}
    <!-- for the cognito forms section -->
    <script src="https://www.cognitoforms.com/f/iframe.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  </head>
  <body>
    {{ block "mainnav" . }} {{ end }}
    <section id="form">
    <iframe src="https://www.cognitoforms.com/f/aDbqSIu5XEqr7KsGaJGtCQ/1" allow="payment" style="border:0;width:100%;" height="2426"></iframe>
    </section>
    <section id="about">
    {{ block "about" . }} {{ end }}
    </section>
    {{ block "footer" . }} {{ end }}
  </body>
</html>
