<!DOCTYPE html>
<html>
  <head>
    <title>hack || bitcoin++ at B25 Vegas</title>
    <link rel="stylesheet" href="/static/css/mini.css" />
    <script src="/static/js/script.js" type="text/javascript"></script>
    <script src="//embed.typeform.com/next/embed.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  </head>
  <body>
    {{ block "mainnav" . }} {{ end }}
    <section id="form">
    <div data-tf-live="01JNRQ23RVCJWQ68AN9CKG7JPV"></div>
    <script src="//embed.typeform.com/next/embed.js"></script>
    </section>
    {{ block "footer" . }} {{ end }}
  </body>
</html>
