<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "site_seo" (dict "Title" "bitcoin++ at Bitcoin 2025 Vegas" "Description" "Hackathon registration for the bitcoin++ Bitcoin Games event at Bitcoin 2025 in Las Vegas." "Path" "/vegas25" "Image" "/static/img/vegas/og_card_standard.png") }}
    {{ block "header" . }} {{ end }}
    <script src="//embed.typeform.com/next/embed.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  </head>
  <body>
    {{ block "mainnav" . }} {{ end }}
    <section id="form">
    <div data-tf-live="01JNRQ23RVCJWQ68AN9CKG7JPV"></div>
    <script src="//embed.typeform.com/next/embed.js"></script>
    </section>
    {{ block "footer" . }} {{ end }}
  </body>
</html>
