<p id="em-post-result" class="relative rounded-full bg-green-50 px-4 py-1.5 text-sm/6 text-green-600 ring-1 ring-inset ring-green-900/5">
      <span class="md:inline font-semibold">Ok.</span>
      <span class="absolute inset-0" aria-hidden="true"></span>
      <span> {{ .Text }}</span>
</p>
