## Confirm your subscription to bitcoin++'s Mailing List 📨

You're just one step away from confirming **{{ .Email }}** joining the bitcoin++ mailing list. We'll send you notices about upcoming events and workshops, and announcements of speakers and livestreams.

Click the button below to confirm your subscription! 


> [Confirm Subscription](button#{{.ConfirmURL}})


...or click this [link]({{ .ConfirmURL }})



While you're here, why not check out our [upcoming conferences]({{ .URI }}/).

Or check out the the latest news on [bitcoin++ Insider Edition](https://insider.btcpp.dev).
