<!DOCTYPE html>
<html> 
<head>
  <title>bitcoin++ | Mailer Subs</title>
  <link rel="stylesheet" href="/static/css/mini.css" />
  <script src="/static/js/script.js" type="text/javascript"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
</head>
<body>
  <div class="utility_component">
    <div class="utility_form-block w-form">
      <img src="/static/img/notfound.svg" alt="" class="utility_image">
      <h3>{{ .Text }}</h3>
      <div class="padding-xsmall"></div>
      {{ if eq .Newsletter "newsletter" }}
      <div><strong>{{ .Email }}</strong> has been {{ .ActionText }} the Base58 Protocols mailing list.</div>
      {{ else }}
      <div><strong>{{ .Email }}</strong> has been {{ .ActionText }} the Base58 {{ .Newsletter }} waitlist.</div>
      {{ end }}
      <div class="padding-xsmall"></div>
      <a href="/" class="tertiary-button w-button">Go Home</a>
    </div>
  </div>
</body>
</html>
