Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our most controversial
conference yet: villain edition. Hosted in the Hoover Dam in Nevada this April 23+24.
One of America's most impressive engineering feats, this event is an opportunity
to reflect and explore the frontier of controversy and epic works.

The attached ticket will get you into the conference for two full
days of whiteboarding sessions and talks from some of the 
best bitcoin builders and thinkers in the space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date 
on what's happening on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh

(Prefer Discord? Join our server: https://discord.gg/cHfC9KKfb7)

## At the Conference

The conference will be held April 23 - 24, 2026 at the Hoover Dam Spillway House.

Map: https://maps.app.goo.gl/VHkjf6bK4JxsTiZS9

We'll be posting talks and workshops to the website's agenda.

Be sure to check it out for the latest updates on what's happening
at the event: https://btcpp.dev/conf/{{ .ConfTag }}#agenda

Villain attire suggested, but not required.

## Getting There

The Hoover Dam is about a 50m drive from the Vegas Strip. We'll have shuttles
available from both the Strip and Hoover Dam Hotel, for an additional fee (details
to be sent when the event gets closer).

You can also rent a car and come park at the Dam, there's plenty of parking.

## Check-In

Check-in at the conf opens Thurs, April 23rd at 9:00am; the first talk will 
start at 10:00am. Keep an eye out for agenda updates on the website:
https://btcpp.dev/conf/{{ .ConfTag }}#agenda

We'll also have check-in open on Wednesday evening at the Hoover Dam Hotel+Casino.



Excited to see you all soon!

@niftynei and the btc++ crew
