Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our first ever 
conference in Nairobi, Kenya this coming June 17-20, 2026.

The attached ticket will get you into the conference for four full days 
of workshops and talks from some of the best open source developers 
and protocol engineers in bitcoin.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date 
on what's happening on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh

(Prefer Discord? Join our server: https://discord.gg/cHfC9KKfb7)

## At the Conference

The conference will be held June 17-20, 2026 at PrideInn Azure Hotel in the Westlands neighborhood of Nairobi.

Map: https://maps.app.goo.gl/gGgEtEq2pKFH7YmM9

Venue website: https://www.prideinnhotels.com/hotels-in-nairobi/prideinn-azure/

We'll be posting new talks and events to the website's agenda.

Be sure to check it out for the latest updates on what's happening
at the event: https://btcpp.dev/conf/{{ .ConfTag }}#agenda

## Check-In

Check-in at the conf opens Wed, June 17th at 9:30am; the first talk will 
start at 10:30am. Keep an eye out for agenda updates on the website:
https://btcpp.dev/conf/{{ .ConfTag }}#agenda



Excited to see you all soon!

@niftynei and the btc++ team
