Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our second conference in 
Brasil, this coming February 26 - 28, 2026 at ACATE Innovation Center in Saco Grande, Florianopolis, Brazil.

Link to event venue map: https://maps.app.goo.gl/dJq7WCXP4ZJken5XA

The attached ticket will get you into the conference for three days of workshops,
and talks from some of the best builders and thinkers in the bitcoin open source space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date
on what's happening on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh

(Prefer Discord? Join our server: https://discord.gg/cHfC9KKfb7)

## Satellite Events
            
There's a lot going on in Floripa around bitcoin++, keep an eye on new satellite events
on the website: https://btcpp.dev/conf/floripa#satellites



Excited to see you all soon!

niftynei and the rest of the btcpp team!


---- 

Seu ingresso para o bitcoin++ chegou!

O bitcoin++ tem o prazer de recebê-lo em nossa segunda conferência no Brasil, de 26 a 28 de fevereiro de 2026, no Centro de Inovação da ACATE em Saco Grande, Florianópolis, Brasil.

Link para o mapa do local do evento: https://maps.app.goo.gl/dJq7WCXP4ZJken5XA

O ingresso em anexo dará acesso à conferência para três dias de workshops
e palestras de alguns dos melhores criadores e pensadores do universo do bitcoin de código aberto.

Você precisará dele para fazer o check-in!

## Antes da Conferência

Conecte-se com outros participantes da conferência e fique por dentro
do que está acontecendo no nosso grupo do Telegram: https://t.me/+srzZdNHt8SoxZTFh

(Prefere o Discord? Junte-se ao nosso servidor: https://discord.gg/cHfC9KKfb7)

## Eventos Satélite

Há muita coisa acontecendo em Floripa em torno do bitcoin++, fique de olho nos novos eventos satélite
no site: https://btcpp.dev/conf/floripa#satellites

Animada para ver todos vocês em breve!

niftynei e o restante da equipe btcpp!
