Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our consensus edition
conference in Toronto, Canada this coming July 22 - 24, 2026.

The attached ticket will get you into the conference for three full
days of workshops and talks from some of the best bitcoin builders and 
thinkers in the space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date 
on what's happening on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh

(Prefer Discord? Join our server: https://discord.gg/cHfC9KKfb7)

## At the Conference

The conference will be held July 22 - 24, 2026 at the Great Hall in Toronto Canada.

Map: https://maps.app.goo.gl/VLpXc5KMn8EiEzuU9

We'll be posting new talks and events to the website's agenda.

Be sure to check it out for the latest updates on what's happening
at the event: https://btcpp.dev/conf/{{ .ConfTag }}#agenda

## Check-In

Check-in at the conf opens Wed, July 22nd at 9:30am; the first talk will 
start at 10:30am. Keep an eye out for agenda updates on the website:
https://btcpp.dev/conf/{{ .ConfTag }}#agenda



Excited to see you all soon!

@niftynei and the btc++ crew
