Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our first ever 
conference in Vienna, Austria this coming May 27-28, 2026.

The attached ticket will get you into the conference for two full days 
of workshops and talks from some of the best bitcoin academics and
protocol developers in the free market space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date 
on what's happening on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh

(Prefer Discord? Join our server: https://discord.gg/cHfC9KKfb7)

## At the Conference

The conference will be held May 27+28th 2026 at Weitsicht Cobenzl.

Map: https://maps.app.goo.gl/CpYyaprWG69n7Vvr5

Venue website: https://weitsichtcobenzl.at/

We'll be posting new talks and events to the website's agenda.

Be sure to check it out for the latest updates on what's happening
at the event: https://btcpp.dev/conf/{{ .ConfTag }}#agenda

## Check-In

Check-in at the conf opens Wed, May 28th at 9:30am; the first talk will 
start at 10:30am. Keep an eye out for agenda updates on the website:
https://btcpp.dev/conf/{{ .ConfTag }}#agenda



Excited to see you all soon!

@niftynei and the btc++ team
