<!DOCTYPE html>
<html>
<head>
    <title>bitcoin++ | Oops</title>
    {{ block "header" . }} {{ end }}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
</head>
<body>
  <div class="utility_component">
    <form class="utility_form-block w-password-page ">
      <div class="utility_form w-password-page">
        <img width="106" src="https://d3e54v103j8qbb.cloudfront.net/static/utility-lock.ae54711958.svg" alt="" class="utility_image">
        <h3>Protected Page</h3>
        <div class="padding-xsmall"></div>
	<input class="form_input w-password-page w-input" 
	  autofocus="true"
	  maxlength="256" 
	  data-name="field" 
	  required 
	  placeholder="Enter your password" 
	  type="password" 
	  name="pass" 
	  id="pass">
        <div class="padding-xsmall"></div> 
	<button id="login-btn" 
	class="tertiary-button w-password-page w-button" 
	hx-post="/login" 
	hx-include="#pass #dest" 
	hx-trigger="click" 
	hx-target="#login_result">Submit</button>
	<div id="login_result" 
	 style="display: block;"
	 class="form_message-error-wrapper w-password-page w-form-fail">
        </div>
        <div style="display:none"><input type="hidden" name="dest" id="dest" value="{{ .Destination }}"></div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
